[client]
user=user
password=B9JUieyA48cX4eUVtfMP_root
port=3306
host=prod-dr-legacy-jumpserver

[mysql]
user=user
password=B9JUieyA48cX4eUVtfMP_root
host=prod-dr-legacy-jumpserver
port=3306
prompt="10.3.31-MariaDB-log\_\u@dr-legacy-db.ceo7qnnpmavc.us-east-1.rds.amazonaws.com:[\D][\d]>\_"
