[client]
user=content
password=j3N_q3vKrsSdi2D8
host=prod-adultcontent-db-jumpserver
prompt="\_\u@prod-adultcontent-db.cfegfrra67mo.us-east-1.rds.amazonaws.com:[\D][\d]>\_"

[mysql]
user=content
password=j3N_q3vKrsSdi2D8
host=prod-adultcontent-db-jumpserver
prompt="\_\u@prod-adultcontent-db.cfegfrra67mo.us-east-1.rds.amazonaws.com:[\D][\d]>\_"
