[client]
user=rmateos
password=myM4r1aDBP4SS
host=prod-cwy-db-jumpserver
prompt="\_\u@cwy-full-prod.cv4syz8nfpv7.us-east-1.rds.amazonaws.com:[\D][\d]>\_"

[mysql]
user=rmateos
password=myM4r1aDBP4SS
host=prod-cwy-db-jumpserver
prompt="\_\u@cwy-full-prod.cv4syz8nfpv7.us-east-1.rds.amazonaws.com:[\D][\d]>\_"
