[client]
user=rmateos
password=myM4r1aDBP4SS
host=prod-dating-banksites-db-jumpserver
prompt="\_\u@prod-dating-banksites-db.csl4cow4aq0x.us-east-1.rds.amazonaws.com:[\D][\d]>\_"

[mysql]
user=rmateos
password=myM4r1aDBP4SS
host=prod-dating-banksites-db-jumpserver
prompt="\_\u@prod-dating-banksites-db.csl4cow4aq0x.us-east-1.rds.amazonaws.com:[\D][\d]>\_"
