[client]
user=rmateos
password=myM4r1aDBP4SS
host=prod-vr-users-db-jumpserver
prompt="\_\u@prod-vr-users-db.cfegfrra67mo.us-east-1.rds.amazonaws.com:[\D][\d]>\_"

[mysql]
user=rmateos
password=myM4r1aDBP4SS
host=prod-vr-users-db-jumpserver
prompt="\_\u@prod-vr-users-db.cfegfrra67mo.us-east-1.rds.amazonaws.com:[\D][\d]>\_"
