[mysqldump]
user=jucy_app
password=kS81Ovf2RAZvlIEGYqCKgQ==
host=staging-jucy-site-jumpserver

[client]
user=jucy_app
password=kS81Ovf2RAZvlIEGYqCKgQ==
host=staging-jucy-site-jumpserver
prompt="\_\u@staging-jucy-site-db.cv4syz8nfpv7.us-east-1.rds.amazonaws.com:[\D][\d]>\_"

[mysql]
user=jucy_app
password=kS81Ovf2RAZvlIEGYqCKgQ==
host=staging-jucy-site-jumpserver
prompt="\_\u@staging-jucy-site-db.cv4syz8nfpv7.us-east-1.rds.amazonaws.com:[\D][\d]>\_"

[mysqldump]
user=jucy_app
password=kS81Ovf2RAZvlIEGYqCKgQ==
host=staging-jucy-site-jumpserver
