=====================================
2026-09-28 12:00:00 INNODB MONITOR OUTPUT
=====================================
------------
TRANSACTIONS
------------
Trx id counter 3
--------
FILE I/O
--------
