/*!50530 SET @@SESSION.PSEUDO_SLAVE_MODE=1*/;
# at 4
#260929 13:00:00 server id 4  end_log_pos 55 CRC32 0x00000000  GTID 0-1-991 trans
# at 55
#260929 13:00:00 server id 4  end_log_pos 95 CRC32 0x00000000  Annotate_rows:
#Q> UPDATE `inventory`.`stock` SET `quantity` = 8 WHERE `id` = 14
# at 95
#260929 13:00:00 server id 4  end_log_pos 145 CRC32 0x00000000  Table_map: `inventory`.`stock` mapped to number 37 (flags: 0x0)
# at 145
#260929 13:00:00 server id 4  end_log_pos 220 CRC32 0x00000000  Update_rows_compressed_v1: table id 37 flags: STMT_END_F
### UPDATE `inventory`.`stock`
### WHERE
###   @1=14
### SET
###   @2=8 /* INT meta=0 nullable=1 is_null=0 */
# at 220
#260929 13:00:00 server id 4  end_log_pos 250 CRC32 0x00000000  Xid = 1991
COMMIT/*!*/;
# at 250
#260929 13:00:01 server id 4  end_log_pos 290 CRC32 0x00000000  GTID 0-1-992 trans
# at 290
#260929 13:00:01 server id 4  end_log_pos 340 CRC32 0x00000000  Table_map: inventory.stock_history mapped to number 38
# at 340
#260929 13:00:01 server id 4  end_log_pos 410 CRC32 0x00000000  Delete_rows_v1: table id 38 flags: STMT_END_F
### DELETE FROM `inventory`.`stock_history`
### WHERE
###   @1=14
###   @2='adjustment' /* VARSTRING(64) meta=64 nullable=1 is_null=0 */
# at 410
#260929 13:00:01 server id 4  end_log_pos 450 CRC32 0x00000000  Xid = 1992
COMMIT/*!*/;
